/**
* APP MAIN STYLES FOR BUTTONS
*/

.btn-custom {
    text-align: center;
    background-color: $blue;
    border: none;
    outline: none;
    color: $triviagame-graywhite;
    padding: 1rem 2rem;
    border-radius: .3rem;
    cursor: pointer;

    &--large {
        width: 100%;
    }

    &.btn-custom--gray {
        background-color: $triviagame-darkblue;
        color: $triviagame-graywhite;
    }

    &.btn-custom--sm {
        font-size: $font-size-14;
        padding: .5rem 1.5rem;
    }
}