/**
* APP MAIN STYLES FOR BUTTONS
*/

.btn-custom {
    text-align: center;
    background-color: $blue;
    border: none;
    outline: none;
    color: $triviagame-graywhite;
    padding: 1rem 2rem;
    border-radius: .3rem;
    cursor: pointer;

    &--large {
        width: 100%;
    }
}