/**
* APP GLOBAL MODALS
* BOOTSRAP MODAL
*/
.modal-custom {

    .modal-content {
        background-color: $triviagame-softblue;
        margin-top: 10rem;
        padding: .7rem;
    }

    &__body {
        font-size: $font-size-14;
        color: $triviagame-softgray;
        margin: 1rem 0rem;
    }

    &__footer {
        button {
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }

    &.modal-custom--profile {
        .modal-content {
            margin: auto;
            width: 45rem;
        }
    }

}


/**
* W3 MODAL
*/
.modal-custom {
    .w3-modal-content {
        background-color: $triviagame-softblue;
        width: 40rem;
    }
    .w3-container {
        background-color: $triviagame-softblue;
        margin-top: 10rem;
        padding: .7rem;

        &__header,
        &__body,
        &__footer {
            padding: 0.5rem;
        }

        &__body {
            font-size: $font-size-14;
            color: $triviagame-softgray;
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            button {
                &:first-of-type {
                    margin-right: .5rem;
                }
            }
        }
    }
}