/** APP FONTS/VALUES */
$font-family-main: 'Open Sans', sans-serif;
$font-weight-bold: bold;
$font-style-normal: normal;
$font-weight-normal: normal;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;
$line-spacing-16: 16px;
$line-spacing-18: 18px;
$line-spacing-20: 20px;
$line-spacing-24: 24px;
$line-spacing-32: 32px;
$line-spacing-40: 40px;
$line-spacing-56: 56px;

/** APP COLORS */ 
$triviagame-darkblue: #192229;
$triviagame-softblue: #212E36;
$triviagame-softgray: #979EA2;
$triviagame-graywhite: #E2F3F5;
$blue: #1083D5;
$red: #F18888;


