@import '../../../styles/abstracts/variables';

.categories {
    margin-bottom: 1.7rem;
}

.category {
    cursor: pointer;
    padding: 2rem;
    border-radius: .5rem;
    transition: 300ms all;
    width: 35rem;
    height: 25rem;
    overflow: hidden;
    &__content {
        color: $triviagame-softgray;
    }
    &:hover {
        background-color: $triviagame-softblue;
    }
    &__image {
        width: 7rem;
        margin: auto;
    }
}

.drawing-background {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        width: 7rem;
        > img {
            width: 100%;
            vertical-align: top;
        }
    }
    &__content {
        color: $triviagame-softgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            font-weight: $font-weight-bold;
            font-size: $font-size-20;
        }
        &-description {
            width: 30rem;
            text-align: center;
        }
    }
}