<header class="header">

    <div class="logo" routerLink="/home">
        <span class="logo__text">Trivia<b>Game</b></span>
        <span class="logo__subtext">Powered by Daniel Aranda</span>
    </div>

    <!-- Dropdown -->
    <div class="dropdown-custom">

        <!-- Button dropdown -->
        <div class="user-info" *ngIf="identity" id="dropdownMenuButton1" data-bs-toggle="dropdown">
            <div class="user-info__image">
                <span>{{ utilsService.firstLetter(identity.fullName) }}</span>
            </div>
            <span class="user-info__user-name">{{ identity.fullName }}</span>
        </div>
        <!-- Button dropdown -->

        <!-- Dropdown -->
        <ul class="dropdown-menu mt-4" aria-labelledby="dropdownMenuButton1" *ngIf="identity">
            <div class="dropdown-menu__head">
                <div class="user-info__image">
                    <span>{{ utilsService.firstLetter(identity.fullName) }}</span>
                </div>
                <div class="d-flex flex-column">
                    <span class="user-info__user-name">{{ identity.fullName }}</span>
                    <span class="user-info__user-email">{{ identity.email }}</span>
                </div>
            </div>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#profileModal"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#" routerLink="/create-game"><i class="fas fa-plus"></i>Create Game</a></li>
            <li><a href="mailto:webmaster@example.com"><i class="far fa-question-circle"></i>Support</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
        </ul>
        <!-- Dropdown -->
            
    </div>

  

</header>


<!-- Modal -->
<div class="modal fade modal-custom" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          
            <div class="modal-custom__head">
                Log out
            </div>

            <div class="modal-custom__body">
                <p>Are you sure you want to log out from the app?</p>
            </div>

            <div class="modal-custom__footer float-end">
                <button class="btn-custom  btn-custom--sm btn-custom--blue" data-bs-dismiss="modal" (click)="logout()">Yes</button>
                <button class="btn-custom btn-custom--gray btn-custom--sm" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
      </div>
    </div>
  </div>
<!-- Modal -->

<app-profile></app-profile>
