<app-layout>
    <div class="game mt-4">
        <div class="game__question box text-center">
            <h3>Question #1</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elitone magnam quisquam nihil sunt hic sit sint, odit quia. Explicabo, sequi ratione?
        </div>
        <div class="game__options d-flex">
            <div class="game__options-column">
                <div class="game__option box">
                    a) Respuest 1
                </div>
                <div class="game__option box">
                    b) Respuest 1
                </div>
            </div>
            <div class="game__options-column">
                <div class="game__option box">
                    a) Respuest 1
                </div>
                <div class="game__option box">
                    a) Respuest 1
                </div>
            </div>
        </div>
    </div>

</app-layout>

<div class="game__footer d-flex justify-content-between">
    <div class="d-flex">
        <span class="game__totalquestions">0/10</span>
    
        <div class="game__buttons">
            <span><i class="fas fa-arrow-left"></i> Go back</span>
            <span>Next <i class="fas fa-arrow-right"></i></span>
        </div>
    </div>

    <span class="game__totalquestions">
        Total questions: 10
    </span>
</div>
