<app-layout>
    <div class="game mt-4" *ngIf="!submittedGame">
        <div class="game__question text-center">
            <h3>Question <strong>#{{ numberQuestion }}</strong></h3>
            {{ activeQuestion.sentence }}
        </div>
        <div class="game__options d-flex">
            <div class="game__options-column" *ngIf="options.length">
                <div class="game__option d-flex align-items-center" *ngFor="let option of options; let i = index" (click)="selectedOption(option)">
                    <div class="game__option-letter box box--green">
                        {{ i === 0 ? "a)" : i === 1 ? "b)" : i === 2 ? "c)" : "d)" }}
                    </div>
                    <div class="game__option-content box w-100" [class.selected-answer]="activeQuestion.selectedOption === option">
                        {{ option.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Great grade -->
    <div class="game-finish" *ngIf="submittedGame && grade >= 60">
        <div class="game-finish__head d-flex flex-column align-items-center">
            <div class="game-finish__image">
                <img src="../../../assets/img/like.svg" alt="Good Trivia Game">
            </div>
            <span>You did great !</span>
        </div>

        <div class="game-finish__content d-flex flex-column align-items-center">
            <h2>Final Results</h2>

            <div class="game-finish__info d-flex flex-column align-items-center">
                <span>You get {{ score }} points !</span>
                <span>Game Time: 00:00:00</span>
                <span>Total Score: {{ totalScore }}</span>
                <span>Your score: {{ score }} / {{ totalScore }}</span>
            </div>

            <button class="btn-custom" routerLink="/home">Exit Game</button>
        </div>
       
    </div>
    <!-- Great grade -->

    <!-- Bad grade -->
    <div class="game-finish" *ngIf="submittedGame && grade < 60">
        <div class="game-finish__head d-flex flex-column align-items-center">
            <div class="game-finish__image">
                <img src="../../../assets/img/dislike.svg" alt="Good Trivia Game">
            </div>
            <span>You did bad :(</span>
        </div>

        <div class="game-finish__content d-flex flex-column align-items-center">
            <h2>Final Results</h2>

            <div class="game-finish__info d-flex flex-column align-items-center">
                <span>You get {{ score }} points</span>
                <span>Game Time: {{ game.timeGame }}</span>
                <span>Total Score: {{ totalScore }}</span>
                <span>Your score: {{ score }} / {{ totalScore }}</span>
            </div>

            <button class="btn-custom" routerLink="/home">Exit Game</button>
        </div>
       
    </div>
    <!-- Bad grade -->

    <p-toast key="gamePage" position="top-center"></p-toast>

</app-layout>

<div class="game__footer d-flex justify-content-between" *ngIf="!submittedGame">
    <div class="d-flex">
        <span class="game__totalquestions">{{ answeredQuestions }}/{{ totalQuestions }}</span>
    
        <div class="game__buttons">
            <button class="btn-custom btn-custom--sm btn-custom--gray" (click)="prevQuestion()" *ngIf="numberQuestion !== 1"><i class="fas fa-arrow-left"></i></button>
            <button class="btn-custom btn-custom--sm btn-custom--gray" (click)="nextQuestion()" *ngIf="numberQuestion <= totalQuestions - 1"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>

    <span class="game__totalquestions">
        <button class="btn-custom btn-custom--sm" 
                *ngIf="numberQuestion === totalQuestions || answeredQuestions === totalQuestions"
                (click)="finishGame()">Finish test</button>
        Total questions: {{ totalQuestions }}
    </span>
</div>
