<app-layout>
    <div class="create-game mt-4">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <h3 class="box__title">Create category</h3>
                            <div class="box__content">

                                <!-- Category Name Field -->
                                <div class="form-custom__group d-flex flex-column mt-3">
                                    <label class="form-custom__label mb-2">Insert category name</label>
                                    <input  type="text" 
                                            class="form-custom__input" >
                                </div>

                                 <!-- Category Name Field -->
                                 <div class="form-custom__group d-flex flex-column mt-3">
                                    <label class="form-custom__label mb-2">Insert category description</label>
                                    <textarea class="form-custom__input form-custom__input--textarea" ></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <h3 class="box__title">Create questions and answers</h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-layout>
