<app-layout>
    <div class="create-game mt-4">
        <div class="container">
            <form (ngSubmit)="onSubmit()"
                  [formGroup]="formCustom">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box mb-4">
                            <h3 class="box__title">Create New Category</h3>
                            <div class="box__content d-flex justify-content-between">
                                Here you can create a new category with questions and answers
                                <button type="submit" class="btn-custom btn-custom--gray">Save and Publish</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box">
                            <h3 class="box__title">Create category</h3>
                            <div class="box__content">

                                <!-- Category Name Field -->
                                <div class="form-custom__group d-flex flex-column mt-3">
                                    <label class="form-custom__label mb-2">Insert category name</label>
                                    <input  type="text" 
                                            class="form-custom__input" 
                                            formControlName="categoryName">
                                </div>

                                 <!-- Category Description -->
                                 <div class="form-custom__group d-flex flex-column mt-3">
                                    <label class="form-custom__label mb-2">Insert category description</label>
                                    <textarea class="form-custom__input form-custom__input--textarea" 
                                              formControlName="categoryDescription"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5">
                        <div class="box">
                            <h3 class="box__title">Create your 5 questions and answers</h3>

                            <!-- Question 1 -->
                            <div class="form-custom__group d-flex flex-column mt-3">

                                <div class="d-flex justify-content-between">
                                    <label class="form-custom__label mb-2">Enter your question</label>
                                </div>

                                <input  type="text" 
                                        class="form-custom__input" 
                                        formControlName="question1">
                            
                                <!-- Answers -->
                                <div class="form-custom__group-answers mt-3">
                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="a)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="b)">
                                    </div>

                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="c)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="d)">
                                    </div>
                                </div>
                                <!-- Answers -->

                            </div>
                            <!-- Question 1-->

                            <!-- Question 2 -->
                            <div class="form-custom__group d-flex flex-column mt-3">

                                <div class="d-flex justify-content-between">
                                    <label class="form-custom__label mb-2">Enter your question</label>
                                </div>

                                <input  type="text" 
                                        class="form-custom__input" 
                                        formControlName="question1">
                            
                                <!-- Answers -->
                                <div class="form-custom__group-answers mt-3">
                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="a)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="b)">
                                    </div>

                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="c)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="d)">
                                    </div>
                                </div>
                                <!-- Answers -->

                            </div>
                            <!-- Question 2 -->

                            <!-- Question 3 -->
                            <div class="form-custom__group d-flex flex-column mt-3">

                                <div class="d-flex justify-content-between">
                                    <label class="form-custom__label mb-2">Enter your question</label>
                                </div>

                                <input  type="text" 
                                        class="form-custom__input" 
                                        formControlName="question1">
                            
                                <!-- Answers -->
                                <div class="form-custom__group-answers mt-3">
                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="a)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="b)">
                                    </div>

                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="c)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="d)">
                                    </div>
                                </div>
                                <!-- Answers -->

                            </div>
                            <!-- Question 3 -->

                            <!-- Question 4 -->
                            <div class="form-custom__group d-flex flex-column mt-3">

                                <div class="d-flex justify-content-between">
                                    <label class="form-custom__label mb-2">Enter your question</label>
                                </div>

                                <input  type="text" 
                                        class="form-custom__input" 
                                        formControlName="question1">
                            
                                <!-- Answers -->
                                <div class="form-custom__group-answers mt-3">
                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="a)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="b)">
                                    </div>

                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="c)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="d)">
                                    </div>
                                </div>
                                <!-- Answers -->

                            </div>
                            <!-- Question 4 -->

                            <!-- Question 5 -->
                            <div class="form-custom__group d-flex flex-column mt-3">

                                <div class="d-flex justify-content-between">
                                    <label class="form-custom__label mb-2">Enter your question</label>
                                </div>

                                <input  type="text" 
                                        class="form-custom__input" 
                                        formControlName="question1">
                            
                                <!-- Answers -->
                                <div class="form-custom__group-answers mt-3">
                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="a)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="b)">
                                    </div>

                                    <div>
                                        <input type="text" 
                                            class="form-custom__input" 
                                            placeholder="c)">
                                        <input type="text" 
                                            class="form-custom__input mt-3" 
                                            placeholder="d)">
                                    </div>
                                </div>
                                <!-- Answers -->

                            </div>
                            <!-- Question 5 -->

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-layout>
