/**
* Main styles configurations
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}
  
body {
    font-size: 1.6rem;
    font-family: $font-family-main;
    color: $triviagame-graywhite;
    background-color: $triviagame-darkblue;
    height: 100%;
}

.box {
    background-color: $triviagame-softblue;
    border-radius: .5rem;
    padding: 1.5rem;
}